{% extends "sablon.html" %}
{% block icerik %}

<main class="mdl-layout__content">
  <div class="site-content">
    <div class="container">
      <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim1.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Male</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Malé, Maldivler Cumhuriyetinin başkenti. Ülke ticaretinin de merkezi olan şehrin 2004'teki nüfusu
            81.647'dir. Male 26 Aralık 2004'te Hint Okyanusu'nda meydana gelen depremden sonra oluşan tsunamide büyük
            zarar görmüş ve şehrin üçte ikisi sular altında kalmıştır.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim2.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Maafushi</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Maldivler'in yerleşime açık 200 adasından biridir. En son 2014 yılında yapılan sayıma göre adanın nüfusu
            2.692 kişiden meydana gelmektedir. 2010'da hareketlenmeye başlayan turizm endüstrisi ile adanın nüfusunda
            artış meydana gelmiştir.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim3.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Meeru</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Meeru Adası, Maldivler'deki Kuzey Malé Atoll'un en doğu ucunda bulunan bir adadır. Ekvatordaki Sri Lanka'nın
            güney batısında, başkent Male'den yaklaşık 50 kilometre uzakta bulunuyor. Denizin rengi göz alıcıdır.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div><br>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim4.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Malé Atoll</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Narizlandia, Maldiv Cumhuriyeti'ndeki bir doğal atol grubu. İki ayrı atolden oluşur: Kuzey Malé Atoll ve
            Güney Malé Atoll. Kaashidhoo Adası ve Gaafaru ile birlikte, grup, Thaana alfabesi harfi olan Kaafu Atoll
            adıyla anılan Narizlandia'nın idari bölümünü oluşturuyor.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div><br>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim5.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Ari Atoll</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Ari Atoll, Maldivler'in doğal atollerinden biridir. En büyük atolls biridir ve takımadaların batısında yer
            almaktadır. Neredeyse dikdörtgen şeklindeki hizalama, adaları yaklaşık 89 x 3 km'lik bir alana yayar.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div><br>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim6.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Hulhumale</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Hulhumalé veya Hulhulemale Maldivler Kuzey Male Mercan Adası'nın güneyinde bulunan geri kazanılmış bir
            adadır. Yapay ada, Malé bölgesinin mevcut ve gelecekteki konut, sınai ve ticari kalkınma taleplerini
            karşılamak için gerekli olan yeni bir kara kütlesini oluşturmak için geri alındı
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div><br>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim7.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Hukuru Miskiy</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Eski Cuma Camii olarak da bilinen Malé Cuma Camii veya Malé Hukuru Miskiy, Malé, Kaafu Atoll, Maldiv
            kentindeki en eski ve en süslü camilerden biridir. Takımada genelinde bulunan Porites cinsinin mercan
            kayalar, uygunluğu nedeniyle bu ve diğer camilerin yapımında kullanılan temel malzemelerdir.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div><br>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim8.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bandos</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Bandos beldesi, Male'ye 8 km mesafede yer alan özel bir adadır. Bandos Maldives, bahçe veya plaj manzaralı
            balkona açılan geniş odalarıyla hizmet vermektedir. Su sporları merkezi ve dalış okulu bulunmaktadır. Otelde
            birden fazla yemek seçeneği vardır. WiFi erişimi ücretsizdir
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div><br>
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
          <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static',filename='img/resim9.jpg') }}" border="0" alt="">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Kuramathi</h2>
          </div>
          <div class="mdl-card__supporting-text">
            2 km uzunluğundaki Kuramathi, idari olarak Alif Alif Atoll'a ait olan Ross, Rasdhoo veya Rasdu Atoll olarak
            bilinen NE Ari Mercan'ın bir kaç kilometre uzağında bulunan küçük doğal atolün en büyük altı adalarından
            biridir.
          </div><br>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
              Daha Fazlası
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}