{% extends "sablon.html" %}
{% block icerik %}
<main class="mdl-layout__content">
    <div class="site-content">
      <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
          <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Hakkımızda</h1>
          </div>
          <div class="mdl-card__media"><img class="article-image" src="{{ url_for('static',filename='img/hakkimizda.jpg') }}"border="0" alt="About">
          </div>
          <div class="mdl-grid site-copy">
            <div class="mdl-cell mdl-cell--12-col">
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Giriş</h3>
              <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                Merhaba!
  
                <p>Ben Sami, 1985 Eskişehir doğumluyum. Halen doğup büyüdüğüm güzel şehrim Eskişehir’de yaşıyorum.
                  Kurumsal hayatta çalışan klasik bir beyaz yakalı olsam da seyahat etmek benim vazgeçilmez tutkum. Yeni
                  yerler görmek, dünyanın farklı renklerini yerinde hissetmek benim için vazgeçilmez bir yaşam tarzı. Şu
                  ana kadar 30 ‘dan fazla ülkede birçok şehri gezip görme şansım olsa da skor peşinden koşmaktan çok benim
                  için önemli olan bir seyahatten keyif almak.</p>
                <p>Bu nedenle gezmekten mutlu olduğum favori şehirlerime tekrar tekrar gezmekten hiç sıkılmıyorum.
  
                  Gezipgordum.com yayına nasıl başladı?
                  Öğrenci değişim programı, dil eğitimi, interrail, tur ve bireysel geziler gibi birçok seyahat tecrübesi
                  yaşama fırsatım oldu. Yaşadığım tüm bu tecrübeleri bilgiye ihtiyacı olanlar için internette paylaşmaya
                  karar verdim ve gezipgordum.com Mayıs 2011 yılında yayın hayatına başladı. Bu tarihten sonra aramıza
                  katılan birçok yazar arkadaşım ile çok güzel içerikler oluşturduk ve içeriklerimize devam ediyoruz.
  
                  Neden gezipgordum.com?
                  Kimileri için plansız bir seyahat keyifli olsa da ben, güzel bir araştırma yapılmış, planlı bir gezinin
                  çok daha eğlenceli ve verimli olduğuna inanıyorum. Çalışma hayatı içinde kısıtlı zaman bulup organize
                  edilen gezilerin daha keyifli geçmesi herkesin tek isteği. Bu nedenle ben ve yazar arkadaşlarım
                  yaptığınız tüm araştırmalara deneyimlerimizi de ekleyip birçok gezi yazısı hazırlıyoruz.
  
                  Amacımız tur firmalarına bağlı kalmaksızın da güzel bir araştırma ile dilediğince gezilebileceğini
                  insanlara gösterebilmek. Bu nedenle sitede yer alan içeriklerin yazım tarzı daha çok gezi rehberi
                  formatında. Ara ara günlük tarzında içerikler eklense de içeriklerin büyük çoğunluğu yol gösterici
                  rehberlerden oluşuyor.</p>
              </div>
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Takım</h3>
  
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="demo-card-image mdl-card mdl-shadow--2dp person1">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                      <span class="demo-card-image__filename">Furkan Yıldızdal</span>
                    </div>
                  </div>
                </div>
  
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="demo-card-image mdl-card mdl-shadow--2dp person2">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                      <span class="demo-card-image__filename">Metin Oktay</span>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}



